<%- include('../shared/includes/head.ejs', { title: "Online Shop Demo" }) %>
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include("../shared/includes/navbar.ejs")  %>
    <section id="headline"><h1>Manage Products</h1></section>
    <section>
        <h1>Product list</h1>
        <%- include("../shared/includes/products-list") %>
    </section>
    <section>
        <form class="default-form" action="/admin/products/new?_csrf=<%= locals.csrfToken %>" method="post" enctype="multipart/form-data">
            <h1>Add a product</h1>
            <p class="error-message"><%= inputData.message %></p>
            <input type="text" placeholder="Title" name="title" id="title" required>
            <label for="image">Image</label>
            <input type="file" name="image" id="image" accept="image/png,image/jpg" required>
            <hr>
            <textarea rows="7" placeholder="Product describtion" name="describtion" id="describtion" maxlength="250" required></textarea>
            <input type="number" placeholder="Price" name="price" id="price" min="0.5" step="0.5" required>
            <select  type="text" placeholder="City" name="city" id="city" value="<%= inputData.city %>" required>
                <option class="highlight-text-gray" value="">Pick Category</option>
                <% for (const item in categories) { %>
                    <option  value="<%= categories[item] %>"> <%= categories[item].charAt(0).toUpperCase() + categories[item].slice(1) %> </option>
                <% } %>
            </select>
            <button class="default-button" type="submit">Add product</button>
        </form>
    </section>
</body>
</html>