<%- include('../shared/includes/head.ejs', { title: "Online Shop Demo" }) %>
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/categories.css">
</head>
<body>
    <%- include("../shared/includes/navbar.ejs")  %>
    <section id="headline"><h1>Manage Categories</h1></section>
    <section>
        <h2>Category list</h2>
        <ul class="def-list">
            <% for (const item in categories) { %>
                <li target class="categorybtn"> 
                    <%= categories[item].charAt(0).toUpperCase() + categories[item].slice(1) %>
                    <button class="material-symbols-outlined edit-categories">
                        more_horiz
                    </button>
                </li>
            <% } %>
        </ul>
    </section>
    <section>
        <form class="default-form" action="/admin/categories/new" method="post">
            <h1>Add a Category</h1>
            <p class="error-message"><%= inputData.message %></p>
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <input type="text" placeholder="Title" name="title" id="title" required>
            
            <button class="default-button" type="submit">Add Category</button>
        </form>
    </section>
</body>
</html>