<%- include('includes/head.ejs', { title: "Online Shop Demo" }) %>
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include("includes/navbar.ejs")  %>
    <section id="headline"><h1>Welcome to the shop</h1></section>
    <section>
        <form class="default-form" action="signup" method="post">
            <h1>Create your account</h1>
            <input type="text" placeholder="Name" name="name" id="name" value="<%= inputData.name %>" required>
            <input type="email" placeholder="Email" name="email" id="email" value="<%= inputData.email %>"  required>
            <input type="password" placeholder="Password (6 or more)" name="password" id="password"  required>
            <input type="password" placeholder="Confirm Password" name="confirm-password" id="confirm-password" required>
            <select  type="text" placeholder="City" name="city" id="city" value="<%= inputData.city %>" required>
                <option value="">Select City</option>
                <option value="Nablus">Nablus</option>
                <option value="Ramallah">Ramallah</option>
                <option value="Jenin">Jenin</option>
                <option value="Al-Quds">Al-Quds</option>
                <option value="Jericho">Jericho</option>
                <option value="Bethlehem">Bethlehem</option>
                <option value="Khalil">Khalil</option>
                <option value="Other">Other (specify in address)</option>
            </select>
            <input type="text" placeholder="Address" name="address" id="address" value="<%= inputData.adress %>" required>
            <button class="default-button" type="submit">Create Account</button>
            <p>already have an account <a href="/login">Sign In</a></p>
        </form>
    </section>
</body>
</html>